/*
 *General styling
 */
body {
    font-family: "Sunflower", sans-serif;
}

/*
 *Styles for div containers
 */
.btn-group {
    float: left;
    margin: 30px;
    margin-top: 0;
    padding-top: 0;
}

.cat-area {
    margin-left: 35%;
    margin-top: 0;
    padding-top: 0;
}

.admin {
    margin-left: 70%;
    margin-top: -22%
}

/*
 *Stile for headings
 */
h1 {
    text-align: center;
    color: #80003e;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
    margin-bottom: 0;
    margin-top: 2px;
}

h3 {
	margin-left: 25px;
    color: #80003e;
}


p {
    color: #80003e;
}


/*
 *Style for buttons
 */
.btn-group button {
    background-color:  #ffe6f2; /* Pinkish background */
    border: 1px solid #b30056; /* Dark pink border */
    color: black; /* White text */
    padding: 5px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 110%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #b30056;
}

.adminCancelBtn, .adminSaveBtn, .adminBtn {
    border-radius: 25px;
    background-color:  #ffe6f2; /* Pinkish background */
    border: 1px solid #b30056; /* Dark pink border */
    color: black; /* White text */
    margin-left: 3.5%;
    margin-top:-5%;
    padding: 5px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    min-width: 100px; /* Set a width if needed */
}


.adminBtn:hover {
    background-color: #b30056;
}



/* 
 *Style for images
 */
.imgSize {
    width : 320px;
    height: 213px;
}