/*Styles for div containers*/
.btn-group {
    float: left;
    margin: 30px;
}

.cat-area {
    float: left;
}

/*Stile for headings*/
h1 {
    text-align: center;
    color: #80003e;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;
}

h3 {
	margin-left: 25px;
    color: #80003e;
}

/*Style for buttons*/
.btn-group button {
    background-color:  #ffe6f2; /* Pinkish background */
    border: 1px solid #b30056; /* Dark pink border */
    color: black; /* White text */
    padding: 5px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 110%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #b30056;
}